@import url('./reset.css');
@import url('./styles.css');


:root {
    --cor-primaria: #E05C9C;
    --cor-secundaria: #E8867C;
    --cor-terciaria: #F9C92C;
    --preto: #131730;
    --neutro: #f9f9f9;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Numans", sans-serif;

    --degrade: linear-gradient(180deg, #E05C9C 0%, #E8867C 100%);

}
body{
    background:var(--degrade);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}