main {
    display: grid;
    place-items: center;
    margin-top: 3rem;
    background-color: var(--neutro);
    padding: 56px;
    width: 440px;
}

.imgemPrincipal {
    width: 15rem;
}


.lista-item-container {
    display: flex;
    justify-content: space-between;
}

.lista-item-container div {
    display: flex;
    gap: 8px;
}

.input-adicionar-item {
    padding: 12px 16px;
    width: 307px;
    border-radius: 10px;
    border: 1px solid var(--preto);
    display: block;
}

.input-adicionar-item::placeholder {
    font-family: var(--font-secundaria);
    line-height: 18px;
    font-size: 16px;
}

.checkbox-input {
    display: none;
}


.containerCheck {
    display: flex;
    width: 35rem;
    background-color: #131730;
}

.checkbox-customizado {
    width: 20px;
    height: 20px;
    background-color: var(--neutro);
    border: 1px solid var(--preto);
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
}

.checked {
    background-color: #131730;
    position: relative;
}

.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    top: -10%;
    width: 5px;
    height: 14px;
    border-top: 2px solid var(--neutro);
    border-left: 2px solid var(--neutro);
    transform: rotate(-140deg);
}

.botao-adicionar {
    width: 15rem;
    height: 2rem;
    border-radius: 10px;
    background-color: var(--cor-primaria);
    color: var(--neutro);
    font-family: var(--font-secundaria);
    border: 1px solid var(--cor-primaria);
    cursor: pointer;
    /* font-weight: bold; */
    font-size: 16px;
    line-height: 24px;


}

.botao-adicionar:hover {
    border: 2px solid var(--cor-terciaria);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

h2 {
    font-size: 20px;
    font-family: var(--font-primaria);
    margin-top: 2rem;
}

hr {
    border: none;
    border-bottom: 3px dotted var(--cor-primaria);
    margin-top: 10px;
}

.container-lista-item {
    display: flex;
  
    gap: 4rem;
}


p {
    font-family: var(--font-secundaria);
    font-size: 16px;
}

.item-lista-texto {
    font-size: 12px;
}


.texto-data {
    font-size: 12px;
    line-height: 20px;
}
.container-lista{
    width: 100%;
}

button{
   background-color: transparent;
   border: none;
}
